html { 
  background: url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div:not(.tweetMaker) {
	background-color: white;
	height: 60px;
	width: 564px;
	position: center;
	display: block;
	border: solid 1px; 
	border-color: #e1e8ed;
	border-radius: 5px;
	margin-left: auto ;
  	margin-right: auto ;
}

p{
	display: inline-block;
	vertical-align: top;
	margin: 0;
}

a{
	text-decoration: inherit;
	color: inherit;
}

a:hover{
	color: #0084B4;
	text-decoration: underline;
}

img:not(.profile) {
	height:48px;
	width: 48px;
	border-radius: 15px;
	display: inline-block;
	overflow: auto;
	float: left;
	margin-left: 10px;
	margin-top: 5px;
}

button{
	color: red;
	height: 30px;
}

.tweetMaker{
	float: left; 
	vertical-align: top;
	position: fixed;
	top: 9px;
	left: 5px;
	z-index: 999;
	width: 400px;
 	height: 252px;
	background-image: url(../images/bronies.jpg);
	position: center;
	display: block;
	border: solid 3px; 
	border-color: black;
	border-radius: 5px;
  	margin-right: auto ;
}

.draft{
	width: 270px;
	height: 23px;
	margin-top: 140px;
	margin-left: 120px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	border-radius: 5px;
}

.send{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	margin-top: 5px;
	margin-left: 3px;
	border-radius: 5px;
	float:left;
	display: inline-block;
}

/* Why is .profile not selecting the appropriate image? Currently using inline styling on index.html to style this image */
.profile{
	width: 200px;
	height: 332px;
	border-color: white;
	border: 2px;
}

.container{
	background-color: black;
	height: 100%;
	width: 100%;
}

.bro{
	margin-top: 8px;
	margin-left: 8px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
}

.displayNames{
	display: inline-block;
	font-size: 14px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	vertical-align: top;
	margin-top: 4px;
}

.userNames{
	font-weight: normal;
	font-size: 13px;
	color: #8899a6;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-top: 5px;
}

.messages{
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color: #292f33;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}

.dot{
	margin-top: 2px;
}