html { 
  background: url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



div {
	background-color: white;
	height: 60px;
	width: 564px;
	position: center;
	display: block;
	border: solid 1px; 
	border-color: #e1e8ed;
	border-radius: 5px;
	margin-left: auto ;
  	margin-right: auto ;
}

p{
	display: inline-block;
	vertical-align: top;
	margin: 0;
}

a{
	text-decoration: inherit;
	color: inherit;
}

a:hover{
	color: #0084B4;
	text-decoration: underline;
}

.container{
	background-color: black;
	height: 100%;
	width: 100%;
}

.displayNames{
	display: inline-block;
	font-size: 14px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	vertical-align: top;
	margin-top: 4px;
}

.userNames{
	font-weight: normal;
	font-size: 13px;
	color: #8899a6;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-top: 5px;
}

.dot{
	margin-top: 2px;
}

img{
	height:48px;
	width: 48px;
	border-radius: 15px;
	display: inline-block;
	overflow: auto;
	float: left;
	margin-left: 10px;
	margin-top: 5px;


}


button{
	color: red;
	height: 30px;
}
.shawn{
	font-style: helvetica;
	font-size: 30px;
}

.messages{
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color: #292f33;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}

.dates{
	display: inline-block;
	vertical-align: top
}